*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color: hsl(148, 38%, 91%);
    display: flex;
    justify-content: center;
    min-height: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: "Karla";
    color: hsl(187, 24%, 22%);
}

.box{
width: 550px;
height: auto;
background-color: hsl(0, 0%, 100%);
border-radius: 20px;
display:flex;
justify-content: center;
flex-direction: column;
padding: 30px;

}

h1{
    padding-bottom: 10px;;
}

input{
    border-radius: 5px;
    border: 1px solid hsl(186, 15%, 59%);
    width: 100%;
    height: 35px;
    margin: 10px 0px; 
    
}
label span {
    color:  hsl(169, 82%, 27%)
  }

.nomsPrenoms{
display: flex;
justify-content: space-between;
flex-direction: row;
gap: 20px;
padding: 20px 0px;
}
 /* --------------------------CHECKBOX-----------------*/
 input[type="text"]:focus,
 input[type="email"]:focus,
 textarea:focus {
   outline: none;
   border-color:  hsl(169, 82%, 27%);
 }

 .checkbox-groupe input[type="radio"] {
    width: 18px;
    height: 18px;
    border: 2px solid hsl(148, 38%, 91%); 
    border-radius: 50%;
    cursor: pointer;
    appearance: none;  
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    position: relative;
}
.checkbox-groupe input[type="radio"]:checked,
.consent input[type="checkbox"]:checked{
    background-color:  hsl(169, 82%, 27%);

}

.query{
    padding: 10px 0px;
}
.check {
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
    width: 100%; 
}
.check p{
    padding: 0px 10px;
}

.check label {
    display: flex;
    align-items: center;
}

.checkbox-groupe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.error-message {
    color: hsl(0, 66%, 54%);
    font-size: 14px;
    margin-top: 10px;
}

/*-------------------------MESSAGE--------------------------*/

.message{
    display: flex;
    flex-direction: column;
}
.message label{
    padding-bottom: 10px;;
}
.message textarea{
    width: 100%;
    height: 90px;
    border-radius: 5px;
    border: 1px solid hsl(186, 15%, 59%);
}

/*--------------------CONSENT------------------------------*/

.consent input{
    width: 16px;
    height: 16px;
    border-radius: none;;
}
 .consent{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 10px 0px;
 }

/*--------------------BUTTON----------------------------*/
button{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: hsl(169, 82%, 27%);
    color: white;
    font-family: "Karla";
    border: none;
}
/*-----------------------ERROR-------------------------*/
.error-message {
    display: none;
    color: hsl(0, 66%, 54%);
    font-size: 14px;
    margin-top: 5px;
    
}

input:invalid + .error-message,
textarea:invalid + .error-message {
    display: block;
}

.checkbox-groupe input[type="checkbox"]:not(:checked) ~ .error-message {
    display: block;
}


.consent input[type="checkbox"]:not(:checked) ~ .error-message {
    display: block;
}

/*--------------------------- Tablette ----------------------------- */
@media screen and (max-width: 768px) {
    .box {
        width: 80%;
        padding: 20px;
        max-height: 105vh; 
    }

    .nomsPrenoms {
        flex-direction: column;
        gap: 10px;
    }

    .nomsPrenoms .formbox {
        width: 100%;
    }

    input, textarea {
        font-size: 14px;
        height: 35px;
    }
}

/* ------------------------Version Mobile-------------------- */

@media screen and (max-width: 375px) {
    body {
        padding: 20px;
    }

    .box {
        width: 95%;
        padding: 15px;
        max-height: 110vh;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .nomsPrenoms {
        flex-direction: column;
        gap: 5px;
    }

    .checkbox-groupe {
        flex-direction: column;
    }

    label {
        font-size: 14px;
    }

    input, textarea {
        font-size: 14px;
        height: 35px;
        padding: 6px;
    }

    button {
        font-size: 14px;
        height: 40px;
    }
}